<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/uploads/favicon-32x32.png" type="image/x-icon">
    <title>Reset Password</title><link rel="stylesheet" href="/stylesheets/forgot.css">
</head>
<body>
    <main>
        <div class="page">
            <div class="header">
              <img height="70px" src="/images/uploads/instalogo.png" alt="">
              <p>Trouble logging in?</p>
              <small>Enter your email and we'll send you a link to get back into your account.</small>
              
            </div>
            <div style="margin-top: 20px;" class="container">
              <form method="post" action="/reset">
                <input name="email" type="text" placeholder="Email">
                <button>Send login link</button>
              </form>
              
              
            </div>
        </div>
        <div class="option">
           <p>Want to create ? <a href="/signup">New account</a></p>
        </div>
        <div class="otherapps">
          <p>Get the app.</p>
          <a href="https://play.google.com/store/apps/details?id=com.instagram.android"><img src="https://static.cdninstagram.com/rsrc.php/v3/yz/r/c5Rp7Ym-Klz.png" alt=""></a>
          <a href="ms-windows-store://pdp/?productid=9nblggh5l9xt&referrer=appbadge&source=www.instagram.com&mode=mini&pos=0%2C0%2C1920%2C1008"><img src="https://static.cdninstagram.com/rsrc.php/v3/yu/r/EHY6QnZYdNX.png" alt=""></a>
        </div>
        <div class="footer">
          <ul>
            <li><a href="">ABOUT</a></li>
            <li><a href="">HELP</a></li>
            <li><a href="">PRESS</a></li>
            <li><a href="">API</a></li>
            <li><a href="">JOBS</a></li>
            <li><a href="">PRIVACY</a></li>
            <li><a href="">TEMS</a></li>
            <li><a href="">LOCATIONS</a></li>
            <li><a href="">TOP ACCOUNTS</a></li>
            <li><a href="">HASHTAGS</a></li>
            <li><a href="">LANGUAGE</a></li>
          </ul>
          <p>© 2020 PICTUREGRAM</p>
        </div>
      </main>
</body>
</html>